{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h2 class="mt-5">Регистрация</h2>
<form id="register-form" class="mt-4" method="post" action="/auth/register/">
    <div class="mb-3">
        <label for="username" class="form-label">Имя пользователя</label>
        <input type="text" class="form-control" id="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>
{% endblock %}